RNARedPrint.aux
RNARedPrint.bbl
RNARedPrint.blg
RNARedPrint.log
RNARedPrint.out
RNARedPrint.pdf
RNARedPrint-Bioinfo2018.pdf

supplement.aux
supplement.bbl
supplement.blg
supplement.log
supplement.out
supplement.pdf
Figs/Plots/*.pdf

BMC-Response-Round1.aux
BMC-Response-Round1.bbl
BMC-Response-Round1.blg
BMC-Response-Round1.log
BMC-Response-Round1.pdf
BMC-Response-Round1.thm

tmp
Figs/Workflow/*.pdf
Figs/Workflow/Workflow.aux
Figs/Workflow/Workflow.log
